@{
    Layout = "~/Views/Shared/_logins.cshtml";
}
@model Student_Portal.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
<div class="form-group">
    <p class=" text-gray-900 mb-4">Email</p>
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <p class="text-gray-900 mb-4">Password</p>
    <div class="col-md-10">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    <p class="text-gray-900 mb-4">Confirm Password</p>
    <div class="col-md-10">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default glyphicon-text-color" value="Reset" style="color:white; background-color:blue;" />
        </div>
    </div>
}
